# Environments
.env
.venv
venv/
env/

# Streamlit secrets
.streamlit/secrets.toml

# Python cache
__pycache__/
*.py[cod]
*$py.class

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store

# Напоминалка - как делать изменения и коммиты в git
/how_to_change.txt